{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h3>Мои To Do</h3>

    <form method="post">
        {% csrf_token %}
        {{ form.task_title }}
        <button type="submit">Добавить</button>
    </form>

    {% if tasks %}
        {% for item in tasks %}
            <tr>
                {{ item.task_title }}<br>
            </tr>
        {% endfor %}
    {% else %}
        Заметки не найдены
    {% endif %}

{% endblock %}


{#        <input class="form-check-input" type="checkbox">#}