{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h3>Мои To Do</h3>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
        <br>


        {% if tasks %}
            {% for item in tasks %}
                {% if item.task_complete %}

                    <tr>
                        <a href="{% url 'ToDoApp:uncross' item.id %}">Закрыто</a>
                        {{ item.task_title }}
                        <a href="{% url 'ToDoApp:delete' item.id %}">Delete</a>
                        <a href="{% url 'ToDoApp:edit' item.id %}">Edit</a><br>
                    </tr>
                {% else %}
                    <tr>
                        <a href="{% url 'ToDoApp:cross_off' item.id %}">Открыто</a>
                        {{ item.task_title }}
                        <a href="{% url 'ToDoApp:delete' item.id %}">Delete</a>
                        <a href="{% url 'ToDoApp:edit' item.id %}">Edit</a><br>

                    </tr>
                {% endif %}

            {% endfor %}
        {% else %}
            Заметки не найдены
        {% endif %}

    </form>
{% endblock %}