{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h3>{{ header }}</h3>
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.task_title }}
        <button type="submit">Добавить</button>
        <br>
        {% if tasks %}
            {% for item in tasks %}
                {% if item.task_complete %}

                    <tr>
                        <a href="{% url 'ToDoApp:uncross' item.id %}"><s>{{ item.task_title }}</s></a>
                        <a href="{% url 'ToDoApp:delete' item.id %}">Delete</a>
                        <a href="{% url 'ToDoApp:edit' item.id %}">Edit</a><br>
                    </tr>
                {% else %}
                    <tr>
                        <a href="{% url 'ToDoApp:cross_off' item.id %}">{{ item.task_title }}</a>
                        <a href="{% url 'ToDoApp:delete' item.id %}">Delete</a>
                        <a href="{% url 'ToDoApp:edit' item.id %}">Edit</a><br>

                    </tr>
                {% endif %}

            {% endfor %}
        {% else %}
            Заметки не найдены
        {% endif %}
    </form>
{% else %}
    Зайдите пожалуйста
{% endif %}

{% endblock %}