{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h3>{{ header }}</h3>
        {% if tasks %}
            {% for item in tasks %}
                {% if item.task_complete %}
                    <tr>
                        <s>{{ item.task_title }}</s><br>
                    </tr>
                {% else %}
                    <tr>
                        {{ item.task_title }}<br>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            Заметки не найдены
        {% endif %}

{% endblock %}